<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Doujinstyle Downloader</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <p>Static serving works</p>
        <p id="text"></p>
        <button type="button">Click me to get message</button>
        <div id="content"></div>
        <br>

        <p>queued tasks:</p>
        <div id="queued"></div>
        <br>

        <p>active tasks:</p>
        <div id="active"></div>
        <br>

        <p>queued ended:</p>
        <div id="ended"></div>
    </body>
    <script type="module">
        let text = await fetch('/hello').then(res => res.text())
        document.getElementById('text').innerHTML = text
        
        document.querySelector("button").addEventListener("click", async function() {
            await fetch("/send-message", {method: "POST"})
        })

        // SSE things
        const source = new EventSource(window.location.origin + "/events-stream")

        source.addEventListener("message", function(event) {
            console.log("new message from server: ", event.data)
            // let node = document.createElement("p")
            // node.innerHTML = event.data
            // document.getElementById("content").prepend(node)
        })

        source.addEventListener("new-task", function(event) {
            console.log("new task", event)
            // https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentHTML
            document.getElementById("queued").insertAdjacentHTML("afterbegin", event.data)
        })
        
        source.addEventListener("remove-task", function(event) {
            console.log("to remove: ", event.data)
            const node = document.getElementById(event.data)

            if (!node) {
                return
            }

            // document.getElementById("content").removeChild(node)
            document.getElementById(event.data).remove()
        })

        source.addEventListener("replace-node", function(event) {
            const data = JSON.parse(event.data)
            console.log("replace-node parsed data: ", data)

            document.getElementById(data.targetNodeID).remove()
            document.querySelector(data.receiverNode).insertAdjacentHTML("afterbegin", data.newNode)
        })

        source.addEventListener("error", function(event) {
            console.error(event.data)
        })
    </script>
</html>
