{{ block "queued_tasks" . }}
    {{ range $idx, $task := . }}
        {{ if eq (GetStateStr $task.DownloadState) "Queued" }}
            {{ template "task" $task }}
        {{ end }}
    {{ end }}
{{ end }}

{{ block "active_tasks" . }}
    {{ range $idx, $task := . }}
        {{ if eq (GetStateStr $task.DownloadState) "Running" }}
            {{ template "task" $task }}
        {{ end }}
    {{ end }}
{{ end }}

{{ block "ended_tasks" . }}
    {{ range $idx, $task := . }}
        {{ if eq (GetStateStr $task.DownloadState) "Completed" }}
            {{ template "task" $task }}
        {{ end }}
    {{ end }}
{{ end }}
