{{ block "queued_tasks" . }}
    {{ range $key, $val := . }}
        {{ if eq (GetStateStr $val) "Queued" }}
            {{ template "task" $key }}
        {{ end }}
    {{ end }}
{{ end }}

{{ block "active_tasks" . }}
    {{ range $key, $val := . }}
        {{ if eq (GetStateStr $val) "Running" }}
            {{ template "task" $key }}
        {{ end }}
    {{ end }}
{{ end }}

{{ block "ended_tasks" . }}
    {{ range $key, $val := . }}
        {{ if eq (GetStateStr $val) "Completed" }}
            {{ template "task" $key }}
        {{ end }}
    {{ end }}
{{ end }}
