{{ block "task" . }}
<div 
    id="{{ .Slug }}"
    class='download-queue-element {{ if eq (GetStateStr .DownloadState) "Completed" }} {{ if .Err }} failure {{ else }} success {{ end }} {{ end }}'
>
    {{ template "task-content" .}}
</div>
{{ end }}

{{ block "task-content" . }}
    {{ if ne .DownloadState 1 }}
        <div class="btn delete" id="task-ctrl-remove-task" data-id="{{ .Slug }}">X</div>
    {{ end }}

    <p>
        {{ .DisplayName }} 
        {{ if and (eq (GetStateStr .DownloadState) "Running") (gt .Progress -1) }}
            (Downloading... {{ .Progress }}&percnt;)
        {{ end }}
    </p>

    {{ if .Err }}
        <div class="err">
            <h4>An error occurred:</h4>
            <p id="{{ .Slug }}-error">{{ .Err }}</p>
            <div class="err-btns">
                <div class="btn err-btn copy-error" id="task-ctrl-copy-error" data-id="{{ .Slug }}">Copy Error</div>
                <div class="btn err-btn retry" id="task-ctrl-retry" data-id="{{ .Slug }}">Download Again</div>
            </div>
        </div>
    {{ end }}
{{ end }}
