<!doctype html>
<html lang="en">
    <head>
        <title>Doujinstyle downloader</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="{{ url_for('static', filename='style.css') }}"
            rel="stylesheet"
        />

        <script src="https://unpkg.com/htmx.org@1.9.7"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

        <script src="{{ url_for('static', filename='index.js') }}" type="module"></script>
    </head>
    <body>
        <h1>Hello, {{name}}!</h1>

        <form
            hx-post="/do-the-thing"
            hx-target="#items"
            hx-swap="beforeend"
            hx-on::after-request="if(event.detail.successful) this.reset()"
        >
            <input type="number" name="AlbumID" value="" placeholder="Insert the albumID here">
            <button type="submit" value="submit">
                press me
            </button>
        </form>

        <div id="items"></div>
    </body>
</html>
